@import 'theme';

body {
  user-select: none;
  background: #000;
  font-family: $font-family;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#control-panel {
  position: fixed;
  width: 348px;
  height: calc(100vh - 150px);
  border-bottom: solid 1px #000;
}
#timeline {
  position: fixed;
  left: 348px;
  right: 0;
  bottom: 0;
  border-left: solid 1px #000;
}
#hud {
  position: fixed;
  width: 348px;
  height: 149px;
  left: 0;
  bottom: 0;
}
#toolbar {
  position: fixed;
  top: calc(50vh - 74px);
  right: 0;
  transform: translateY(-50%);
}
.mapboxgl-ctrl-logo {
  margin-left: 350px !important;
  margin-bottom: 2px !important;
  opacity: 0.4;
}
.icon-camera_perspective .path3:before {
  margin-left: -1em;
}
@import 'control-panel';
@import 'toolbar';
@import 'hud';

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'streetscape' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: '\e906';
}
.icon-help:before {
  content: '\e910';
}
.icon-info:before {
  content: '\e911';
}
.icon-launch:before {
  content: '\e922';
}
.icon-eye_off:before {
  content: '\e900';
}
.icon-building:before {
  content: '\e921';
}
.icon-circle:before {
  content: '\e907';
}
.icon-export:before {
  content: '\e919';
}
.icon-eye:before {
  content: '\e91c';
}
.icon-group:before {
  content: '\e909';
}
.icon-image:before {
  content: '\e90a';
}
.icon-road:before {
  content: '\e912';
}
.icon-map:before {
  content: '\e90f';
}
.icon-polygon:before {
  content: '\e90d';
}
.icon-point:before {
  content: '\e90c';
}
.icon-polyline:before {
  content: '\e90e';
}
.icon-settings:before {
  content: '\e923';
}
.icon-text:before {
  content: '\e913';
}
.icon-time_series:before {
  content: '\e917';
}
.icon-recenter:before {
  content: '\e915';
}
.icon-select:before {
  content: '\e908';
}
.icon-camera_driver .path1:before {
  content: '\e924';
}
.icon-camera_driver .path2:before {
  content: '\e925';
  margin-left: -1.1em;
  color: rgb(32, 32, 32);
}
.icon-camera_driver .path3:before {
  content: '\e926';
  margin-left: -1.1em;
}
.icon-camera_perspective .path1:before {
  content: '\e927';
}
.icon-camera_perspective .path2:before {
  content: '\e928';
  margin-left: -1.1em;
  color: rgb(32, 32, 32);
}
.icon-camera_perspective .path3:before {
  content: '\e929';
  margin-left: -1.1em;
}
.icon-camera_top .path1:before {
  content: '\e92a';
}
.icon-camera_top .path2:before {
  content: '\e92b';
  margin-left: -1.1em;
  color: rgb(32, 32, 32);
}
.icon-camera_top .path3:before {
  content: '\e92c';
  margin-left: -1.1em;
}
.icon-github:before {
  content: '\e920';
}
.icon-data_lidar:before {
  content: '\e901';
}
.icon-data_map:before {
  content: '\e902';
}
.icon-data_ML:before {
  content: '\e903';
}
.icon-data_radar:before {
  content: '\e904';
}
.icon-data_camera:before {
  content: '\e905';
}
.icon-data_metric:before {
  content: '\e91a';
}
.icon-data_event:before {
  content: '\e91b';
}
.icon-pedestrian:before {
  content: '\e90b';
}
.icon-car:before {
  content: '\e916';
}
.icon-bus:before {
  content: '\e918';
}
.icon-bike:before {
  content: '\e914';
}
input[type='submit'],
input[type='reset'],
input[type='button'],
button,
.button {
  box-shadow: none;
}
